@{
    ViewBag.Title = "About Us";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <h1>About Us</h1>
    <p>Welcome to the Beekeeping Store! We are dedicated to providing high-quality beekeeping supplies and equipment to help you succeed in your beekeeping journey. Our mission is to support beekeepers of all levels, from beginners to experienced apiarists, with the best products and resources available.</p>
</div>