@{
    ViewBag.Title = "Blog";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <h1>Blog</h1>
    <p>Welcome to our blog! Stay tuned for updates and articles about beekeeping.</p>
</div>