@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="jumbotron">
        <h1>Welcome to the Beekeeping Store</h1>
        <p>Your one-stop shop for all beekeeping supplies and equipment.</p>
    </div>

    <div class="row">
        <div class="col-md-4">
            <h2>Beekeeping Kits</h2>
            <p>Everything you need to get started with beekeeping.</p>
        </div>
        <div class="col-md-4">
            <h2>Protective Gear</h2>
            <p>Stay safe while working with your bees.</p>
        </div>
        <div class="col-md-4">
            <h2>Honey Extraction</h2>
            <p>Tools and equipment for extracting honey.</p>
        </div>
    </div>
</div>
